//Variables
$font-roboto: 'Roboto', sans-serif;
$font-oswald: 'Oswald', sans-serif;

$first-font-size: clamp(2.1rem, 4vw, 6rem);
$second-font-size: clamp(1.8rem, 3vw, 4.5rem);
$third-font-size: clamp(1.3rem, 1.5vw, 3rem);
$fourth-font-size: clamp(1rem, 1.3vw, 2rem);

$first-color: #000000;
$second-color: #eb5757;

$error-color: #ffe3e3;
$notify-color: #63a5dc;
$notify-color2: #e6f1fa;
$success-color: #27ae60;

$light-gray: #828282;
$darker-gray: #3f3f3f;
//Variables END

//----------------------------------------------------------------

//Universal selector and tags
*,
*::before,
*::after {
  max-width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1 {
  font-family: $font-oswald;
  font-size: $first-font-size;
}
h2 {
  font-family: $font-oswald;
  font-size: $second-font-size;
}
h3 {
  font-family: $font-oswald;
  font-size: $third-font-size;
}
h4 {
  font-family: $font-oswald;
  font-size: $fourth-font-size;
  font-weight: 900;
}
p,
label,
aside {
  font-family: $font-roboto;
  font-size: $fourth-font-size;
  color: $darker-gray;
}

li {
  font-family: $font-oswald;
  list-style: none;
}
a {
  font-family: $font-oswald;
  text-decoration: none;
  font-size: $third-font-size;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: transparent;

  cursor: pointer;
}
button[disabled] {
  display: none;
}

input[type='submit'] {
  cursor: pointer;
}

i {
  color: white;
  font-size: clamp(1.7rem, 1.6vw, 3rem);
}

////hide arrows on input number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

//remove all default styles on input range
input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

// Chrome, Safari, Opera, Edge and Chromium input range
input[type='range']::-webkit-slider-runnable-track {
  background: $first-color;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border: none;
  border-radius: 50%;
  background-color: $first-color;
  padding: 0.25rem;
}

// Firefox input range
input[type='range']::-moz-range-track {
  background: white;
  border: 1px solid $first-color;
}
input[type='range']::-moz-range-thumb {
  border: none; /*Removes extra plies*/
  border-radius: 50%; /*Removes default border-radius that FF applies*/
  background-color: $first-color;
}
//Universal selector and tags END

//----------------------------------------------------------------

//common used components
.transparent-btn {
  display: inline-block;

  border: 0.15rem solid $first-color;
  padding: 0.5em 1em;

  font-size: $third-font-size;
  text-align: center;
  color: $first-color;
  font-weight: 600;

  transition: all 200ms;
}

.search-btn-desktop {
  display: none;
  align-items: center;

  .search__p {
    color: #fff;
    font-family: $font-oswald;
    font-size: $third-font-size;
  }
}

.shop-btn-desktop {
  display: none;

  .shop-btn-text {
    margin-left: 0.5em;

    & > * {
      color: #fff;
    }
    &__eur {
      font-weight: 600;
    }
  }
}

.clothes-card-li {
  margin: 0.5em;

  width: min(50%, 12rem);

  .clothes-card {
    display: block;

    border: 2px solid transparent;
    padding-bottom: 0.3em;

    color: $first-color;

    transition: border 300ms;

    &-text {
      margin: 0 0.5em;

      &__category-gender {
        margin: 0.5em 0;
      }

      &__price {
        color: $first-color;
        font-size: $third-font-size;
      }

      &__name {
        margin: 0.5em 0;
        font-weight: 300;
      }
    }
  }
}

[data-color-active='true'] {
  border: 3px solid $second-color !important;
}
.clothes-color-btn {
  display: inline-block;

  position: relative;

  border: 3px solid transparent;
  padding: 0.7rem;
  margin: 0.25em 0.25em;

  transition: all 300ms;

  &::after {
    display: block;

    position: absolute;
    transform: translateY(300%) translateX(-50%);

    content: '';
    padding: 0.15rem;
    background-color: $light-gray;
  }
}
////Also in clothes-color-btn
.clothes-00white {
  background-color: #f3f3f3;
}

.clothes-02light-gray {
  background-color: #cfcfcf;
}

.clothes-09black {
  background-color: #202022;
}

.clothes-18wine {
  background-color: #74373f;
}

.clothes-69navy {
  background-color: #1b2338;
}

.clothes-64blue {
  background-color: #5279c6;
}

.clothes-35brown {
  background-color: #7e6048;
}

.clothes-06gray {
  background-color: #535257;
}

.clothes-32beige {
  background-color: #b9a990;
}

.clothes-08dark-gray {
  background-color: #312b2f;
}

.clothes-57olive {
  background-color: #47473b;
}

.clothes-03gray {
  background-color: #b2b0b1;
}

.clothes-11pink {
  background-color: #debfce;
}

.clothes-60light-blue {
  background-color: #aec9d4;
}

.clothes-26orange {
  background-color: #d57250;
}

.clothes-30natural {
  background-color: #e6d9d0;
}

.clothes-55green {
  background-color: #0f6443;
}

.clothes-13red {
  background-color: #b5444e;
}
////Also in clothes-color-btn END

.form-account {
  width: min(95%, 40rem);
  margin: 2em auto;
  border-top: 2px solid $light-gray;

  .form-account__title {
    color: $darker-gray;
  }
}

.error-message-form {
  display: inline-block;
  color: $second-color;
  margin: 1em 0;
}

.form-input-container {
  margin: 1em 0;

  .form-input-label {
    display: block;

    .input-required {
      color: red;
    }
  }

  .form-input-typing {
    width: 100%;
    padding: 0.75em;
    border: 2px solid $darker-gray;
  }
  [data-error-input-typing='true'] {
    border-color: $second-color;
  }
}

.black-btn {
  display: inline-block;

  padding: 1em;
  border: 2px solid transparent;
  background-color: $first-color;

  color: white;
  font-size: $fourth-font-size;
  font-family: $font-oswald;
  font-weight: 600;

  transition: all 200ms;
}

.button-expand-container {
  width: min(95%, 40rem);
  margin: 0 auto;

  position: relative;

  .button-expand {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    margin: 0 auto;
    width: 100%;
    border: 2px solid $light-gray;
    padding: 0.25em;

    text-align: left;
    font-family: $font-oswald;
    font-size: $third-font-size;
    font-weight: 600;

    .icon {
      color: $first-color;
      font-size: $second-font-size;
    }
  }

  .button-expand-options {
    display: flex;
    flex-direction: column;

    position: absolute;

    width: 100%;
    margin: 0 auto;

    transform: scaleY(0);
    opacity: 0;
    transform-origin: 50% 0%;

    transition: all 200ms;

    .button-expand-options__btn {
      display: block;
      width: 100%;

      margin: 0.3em 0;
      border: 2px solid $first-color;
      padding: 0.5em;

      font-size: $fourth-font-size;
      font-weight: 600;
    }
    [data-selected-option-acc-settings='true'] {
      background-color: $second-color;
      color: white;
    }
  }
  [data-show-button-expand-options='true'] {
    position: relative;

    transform: scaleY(1);
    opacity: 1;
    transform-origin: 50% 0%;
  }
}

.button-expand2 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid $light-gray;

  text-align: left;
  color: $darker-gray;
  font-family: $font-oswald;
  font-size: $third-font-size;
  font-weight: 600;

  .icon {
    color: $darker-gray;
    font-size: $second-font-size;
  }
}

.shopping-bag {
  position: absolute;
  right: 1%;
  top: 22%;
  z-index: 3;

  background-color: white;
  padding: 1em;
  padding-top: 0.25em;

  transform: scaleY(0);
  transform-origin: 50% 0%;
  transition: all 200ms;

  box-shadow: 0 0 1rem rgba($color: $first-color, $alpha: 0.8);

  &__close-btn {
    position: relative;
    left: 93%;
    i {
      color: black;
    }
  }

  .shopping-bag-list {
    border: 1px solid $light-gray;
    padding-right: 1.5em;
    overflow-y: scroll;
    height: 10rem;

    .not-found {
      display: none;

      position: relative;
      top: 50%;
      left: 50%;
      transform: translateX(-45%) translateY(-50%);

      text-align: center;
    }
    [data-not-found='true'] {
      display: block;
    }

    &-item {
      display: flex;
      align-items: center;

      margin: 0.5em 0;
      border-bottom: 1px solid $light-gray;

      &__img {
        width: 4rem;
      }

      &-text {
        margin: 0 1.5em;

        &__paragraph {
          overflow-x: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 15rem;
        }
      }

      &__delete-btn {
        i {
          color: black;
          font-size: 1.5rem;
        }
      }
    }
  }
}
[data-open-shopping-bag='true'] {
  transform-origin: 50% 0%;
  transform: scaleY(1);
}
//common used components END

//----------------------------------------------------------------

//Header
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $first-color;
  padding: 1em;

  .shop-btn-mobile {
    margin-left: 0.5em;
  }

  [data-nav-list-open='true'] {
    transform: scale(1) translateY(60%);
  }
  [data-nav-list-open='false'] {
    transform: scale(0) translateY(60%);
  }
  nav {
    position: absolute;
    left: 0;
    z-index: 1;

    background-color: $first-color;
    padding: 1em;
    width: 100%;

    transition: all 100ms;

    .nav-list {
      text-align: center;
      list-style: none;

      .nav-item {
        display: block;
        margin: 0.5em 0;

        color: white;

        .nav-link {
          display: inline-block;
          color: white;
        }
      }
      [data-user-loggedin-nav-item-account='true'] {
        display: none;
      }
      .nav-item--search {
        display: none;
      }
      .login-sign-cont {
        margin-top: 1.5em;
      }
      .nav-link--profile {
        display: inline-block;

        padding: 0.5em 0.7em;
        border: 1px solid white;
        border-radius: 50%;

        transition: all 200ms;
      }
      [data-user-loggedin-profile-link='false'] {
        display: none;
      }
    }

    .header-not-verified-email {
      color: $second-color;
      font-size: 1rem;
    }
  }
}
//Header END

//----------------------------------------------------------------

//Footer
[data-footer-list-expanded='false'] {
  position: absolute;

  transform: scaleY(0);
  transform-origin: 50% 0%;
}
[data-footer-list-expanded='true'] {
  position: relative;

  transform: scaleY(1);
  transform-origin: 50% 0%;
}
footer {
  background-color: $first-color;
  padding: 1em;

  color: #fff;

  p {
    color: $light-gray;
  }

  a {
    color: white;
  }

  .footer-section {
    &__btn {
      display: block;

      width: 100%;
      margin: 0.5em 0;
      border-bottom: 1px solid $light-gray;

      color: #fff;
      text-align: left;
      font-weight: 700;
      font-family: $font-oswald;
      font-size: $third-font-size;
    }
    &__title {
      display: none;
    }

    &__list {
      margin: 0.5em 0;

      transition: all 200ms;
      list-style: none;

      &-item {
        margin: 0.4em 0;
      }

      &-item--social {
        display: grid;
        grid-template-columns: 4em 4em;
      }
    }
  }

  .footer-copyright {
    margin: 0.5em 0;
  }
}
//Footer END

//----------------------------------------------------------------

//SectionOne
.section1 {
  .flex-section1 {
    display: flex;
    flex-direction: column;

    /*&-content and &-images are inside this div*/
  }

  &-content {
    order: 2;

    text-align: center;

    &__h1 {
    }
    &__link {
    }
  }
  &-images {
    display: flex;
    justify-content: center;
    order: 1;

    .section1-img {
      width: min(50%, 25rem);
      &:nth-child(2) {
        margin-left: max(-27%, -8em);
      }
    }
  }

  &-change-background {
    display: flex;
    align-items: flex-end;

    padding: 0 10%;

    .arrow {
      padding: 0.8em;
      background-color: rgba($color: $first-color, $alpha: 0.6);
      transition: all 200ms;

      &-left {
        order: 1;
        .fa-arrow-left {
        }
      }
      &-right {
        order: 3;
        .fa-arrow-right {
        }
      }
    }

    &__squares {
      order: 2;

      width: fit-content;
      margin: 0 auto;
    }
  }
}
.square {
  border: 0.15rem solid $light-gray;
  margin: 0 0.3em;
  padding: 0.8em;

  transition: all 200ms;
}
[data-square-active='true'] {
  background-color: $first-color;
  border-color: $first-color;
  padding: 1em;
}
.section1-background1 {
  background-image: url('./home/hero-img.png');
}
//SectionOne END

//----------------------------------------------------------------

// brandSection
.brand-section {
  margin: 1em;

  .flex-border-title {
    display: none;
    justify-content: space-between;
    align-items: flex-start;

    margin-top: 3em;

    .border-top-left {
      border-bottom: 0.15em solid $light-gray;
      width: 100%;
    }
    .border-top-right {
      border-bottom: 0.15em solid $light-gray;
      width: 100%;
    }
    .brand-section__title {
      width: 100%;

      text-align: center;

      transform: translateY(-50%);
    }
  }

  .grid-brands {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;

    padding: 1em;

    .brand-item {
      padding: 1em;
      border: 0.15em solid $light-gray;

      text-align: center;
      color: $first-color;

      transition: all 200ms;

      .weight-three-hundred {
        font-weight: 300;
      }
      .weight-five-hundred {
        font-weight: 500;
      }
      .weight-six-hundred {
        font-weight: 600;
      }
      .weight-eight-hundred {
        font-weight: 800;
      }
      .brand-oswald {
        font-family: $font-oswald;
      }
      .brand-roboto {
        font-family: $font-roboto;
      }
      .brand-serif {
        font-family: serif;
      }
    }
  }
}
// brandSection END

//----------------------------------------------------------------

//SectionTwo
.section2 {
  margin: 0.5em auto;
  background-size: min(cover, 50%);
  background-repeat: no-repeat;

  &-content {
    width: min(90%, 45rem);
    padding: 3em;

    .section2__para {
      margin: 0.5em 0;
    }
  }

  &-home1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-image: linear-gradient(90deg, #f2f0ef00, #edebeb 50%),
      url('./home/woman-home3.png');

    .section2-content {
      width: min(90%, 25rem);
    }
  }

  &-home2 {
    display: flex;
    align-items: center;

    background-image: linear-gradient(90deg, #dfddd3 50%, #d1cdc100),
      url('./home/woman-home5.png');
  }
  &-home3 {
    background-image: linear-gradient(90deg, #f4ded3 50%, #f5dfd400),
      url('./home/woman-home4.png');
  }

  &-home4 {
    background: linear-gradient(90deg, #dae8f0e5 50%, #cadeee1a),
      url('./home/woman-home6.png');

    margin: 1em;
  }

  &-home5 {
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(90deg, #dae8f09a 100%, #dae8f09a),
      url('./home/woman-home7.png');

    margin: 1em;

    text-align: center;
  }

  &-shop1 {
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(90deg, #dae8f09a 100%, #dae8f09a),
      url('./shop/woman-shop1.png');

    text-align: center;
  }

  &-background-left {
    background-position: 0% center;
  }

  &-background-right {
    background-position: 100% 15%;
  }

  &-background-center {
    background-size: cover;
    background-position: center;
  }
}
//SectionTwo END

//----------------------------------------------------------------

//SectionThree
.section3 {
  background-color: $notify-color2;
  padding: 1em;

  &-item {
    display: flex;
    align-items: center;

    width: min(80%, 20rem);
    margin: 1em auto;

    &__icon {
      color: $first-color;
    }
    &__para {
      margin-left: 0.35em;
      color: $first-color;
      font-weight: 600;
    }
  }
}
//SectionThree END

//shopSection

.list-clothes-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.shop-section {
  margin-bottom: 1em;

  .shop-section-filters {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;

    transform: scaleY(0);
    opacity: 0;
    transform-origin: 50% 0%;

    transition: all 300ms;

    &-list {
      &__gender,
      &__size {
        border: 2px solid $first-color;
        margin: 0.25em;
        padding: 0.5em;

        font-size: $fourth-font-size;
        font-weight: 600;

        transition: all 300ms;
      }
      [data-active-filter-gender='true'],
      [data-active-filter-size='true'] {
        border-color: $second-color;
        background-color: $first-color;
        color: white;
      }

      .clothes-color-btn {
        display: inline-block;
      }
    }
  }
  [data-show-shop-section-filters='true'] {
    position: relative;

    transform: scaleY(1);
    opacity: 1;
    transform-origin: 50% 0%;
  }
}

//shopSection END

//----------------------------------------------------------------

//createAccount
.create-account-title {
  width: 95%;
  margin: 1em auto;

  text-align: center;
  font-size: $second-font-size;
}
//createAccount END

//----------------------------------------------------------------

//accountSettings
.account-settings-title {
  text-align: center;
  font-size: $second-font-size;
}
.account-settings {
  margin: 2em 0;
}

.form-account-settings {
  display: none;

  margin: 0 auto;
  width: min(95%, 40rem);

  &__title {
    color: $darker-gray;
  }
}
[data-show-form-account-settings='true'] {
  display: block;
}

.account-settings-modal {
  top: 50%;
  left: 50%;

  width: min(90%, 30rem);

  padding: 1em;
  border: transparent;

  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0.1em 0.1em 1em rgba($color: $first-color, $alpha: 0.6);

  h3 {
    text-align: center;
  }

  .close-modal-icon {
    display: block;
    margin-left: auto;
    color: $first-color;
  }
}
//accountSettings END

//----------------------------------------------------------------

//product page

.product {
  .product-img-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(100%, 25rem);
    margin: 0 auto;

    &__square-btns {
      margin: 0.5em 0;
    }
  }

  .product-choices-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    .product-quantity-price-color {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: min(95%, 40rem);

      .product-quantity {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid gray;
        max-width: 50%;
        padding: 0.75em;

        .quantity-label {
          font-weight: 500;
        }

        .select-quantity {
          display: flex;
          justify-content: center;
          width: 20%;

          &-number {
            border: transparent;
            text-align: center;
            font-size: $fourth-font-size;
            font-weight: 500;
          }

          &__btn {
            &-icon {
              color: $first-color;
            }
          }
        }
      }
    }

    .product-decision {
      display: flex;
      justify-content: center;
      margin: 1em;

      &__btn {
        margin: 0 0.5em;
      }
    }

    .product-code-social-media {
      display: flex;
      justify-content: space-between;

      width: min(90%, 40rem);
      margin: 1em 0;

      .product-social-media {
        display: flex;

        .product-social-links-atag {
          &:hover .fa-brands {
            color: $second-color;
          }
          .fa-brands {
            color: $first-color;
            margin: 0 0.35em;

            transition: all 200ms;
          }
        }
      }

      .product-code {
        strong {
          color: $first-color;
        }
        font-weight: 500;
        font-family: $font-oswald;
      }
    }
  }
}

.product-details-section {
  width: 95%;
  margin: 0 auto;

  &__h2 {
    display: none;
    margin: 0.5em 0;
    border-bottom: 1px solid $light-gray;
  }

  .product-details-section-div {
    position: absolute;
    opacity: 0;

    transition: all 200ms;
    transform-origin: 50% 0;
    transform: scaleY(0);

    &__h3 {
      margin: 0.25em 0;
      margin-left: 0.5em;
    }

    &-list {
      &__item {
        margin: 0.25em 0;
        margin-left: 0.5em;
        list-style: disc;
      }
    }
  }
  [data-show-product-details-div='true'] {
    position: relative;
    opacity: 1;
    transform: scaleY(1);
    transform-origin: 50% 0;
  }
}

//product page END
//----------------------------------------------------------------

//Media Queries
@media screen and (min-width: 1200px) {
  ////Media common used components
  .shop-btn-mobile {
    display: none;
  }
  .shop-btn-desktop {
    display: flex;
  }

  .search-btn-mobile {
    display: none;
  }
  .search-btn-desktop {
    display: flex;
  }

  .form-account {
    border: 2px solid $light-gray;
    padding: 1em;
  }

  .form-input-container {
    margin: 1em 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }

  .button-expand-container {
    .button-expand {
      display: none;
    }
  }

  ////Media common used components END

  ////--------------------

  ////Media Header
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $first-color;
    padding: 1em;

    .open-nav {
      display: none;
    }

    .shop-btn-mobile {
      margin-left: 0.5em;
    }

    [data-nav-list-open='true'] {
      transform: scale(1) translateY(0);
    }
    [data-nav-list-open='false'] {
      transform: scale(1) translateY(0);
    }
    nav {
      position: static;

      background-color: $first-color;
      padding: 1em;
      width: 70%;

      transition: all 200ms;

      .nav-list {
        display: flex;
        align-items: center;

        .nav-item {
          margin: 0.5em;
        }
        .login-sign-cont {
          display: flex;
          align-items: center;
          margin: 0;
          margin-left: auto;

          .shop-btn-desktop {
            margin-left: 0.5em;
          }
        }
      }
    }
    .search-shop-btns-cont {
      display: none;
    }
  }
  ////Media Header END

  ////--------------------

  ////Media Footer
  [data-footer-list-expanded='false'] {
    position: static;

    transform: scaleY(1);
  }
  footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 1em;

    padding: 2em;

    color: #fff;

    p {
      color: $light-gray;
    }

    a {
      color: white;
    }

    .footer-section {
      &__btn {
        display: none;
      }
      &__title {
        display: block;
      }

      &__list {
        margin: 0;

        &-item {
          margin: 0.25em 0;
        }

        &-item--social {
          display: grid;
          grid-template-columns: 3em 3em;
        }
      }
    }

    .footer-copyright {
      grid-column: 1/6;
      grid-row: 2/2;

      &--2 {
        grid-row: 3/3;
      }

      margin: 0;
    }
  }
  ////Media Footer END

  ////--------------------

  ////Media SectionOne
  .section1 {
    .flex-section1 {
      display: flex;
      flex-direction: row;
      align-items: center;

      /*&-content and &-images are inside this div*/
    }

    &-content {
      order: 1;

      padding: 2em;

      text-align: left;

      &__h1 {
        border-top: 0.01em solid $first-color;
        border-right: 0.01em solid $first-color;
      }
    }
    &-images {
      display: flex;
      justify-content: center;
      order: 2;
    }

    &-change-background {
      display: flex;
      align-items: flex-end;

      padding: 0 2.5%;

      .arrow {
        &-left {
          order: 2;

          margin-left: auto;
          margin-right: 0.5em;
        }
        &-right {
          order: 3;
        }
      }

      &__squares {
        order: 1;

        margin: 0;
      }
    }
  }
  ////Media SectionOne END

  ////--------------------

  ////Media BrandSection
  .brand-section {
    margin: 1em;
    border-left: 0.15em solid $light-gray;
    border-right: 0.15em solid $light-gray;
    border-bottom: 0.15em solid $light-gray;

    .flex-border-title {
      display: flex;
    }

    .grid-brands {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .brand-item {
        padding: 1em;
        border-color: transparent;

        text-align: center;
        color: $first-color;
      }
    }
  }
  ////Media BrandSectionEND

  ////--------------------

  ////Media SectionTwo
  .grid-section2 {
    display: grid;
    margin: 1em;
    grid-gap: 1em;

    .section2 {
      margin: 0;
    }

    .grid-section2-item1 {
      grid-column: 1/1;
    }
    .grid-section2-item2 {
      grid-column: 2/2;
      grid-row: 1/3;
    }
    .grid-section2-item3 {
      grid-column: 1/1;
    }
  }

  .section2 {
    &-home4,
    &-shop1 {
      .section2__title {
        border-top: 0.01em solid $first-color;
        border-right: 0.01em solid $first-color;
      }
    }
  }
  ////Media SectionTwo END

  ////--------------------

  ////Media SectionThree
  .section3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    background-color: $notify-color2;
    padding: 2em;

    &-item {
      width: auto;
      margin: 0;
    }
  }
  ////Media SectionThree END

  ////--------------------

  ////Media ShopSection
  .shop-section {
    display: flex;

    .shop-section-filters {
      display: block;

      position: static;

      border-right: 2px solid $light-gray;
      padding: 0.5em;

      transform: scaleY(1);
      opacity: 1;

      transition: none;

      &-list {
        .clothes-color-btn {
          display: inline-block;
        }
      }
    }
  }
  ////Media ShopSection END

  ////--------------------

  ////Media accountSettings
  .account-settings {
    display: flex;
    padding: 1em;
    border: 1px solid $light-gray;

    .button-expand-container {
      width: 30%;

      .account-expand-options {
        display: block;

        position: static;

        width: auto;

        transform: scaleY(1);
        opacity: 1;

        transition: all 300ms;

        .account-expand-options__btn {
          width: 100%;
          margin: 0.3em 0;
          padding: 0.6em;
          border: transparent;

          font-size: $third-font-size;
          font-weight: 500;
          color: $darker-gray;
          text-align: left;

          &:hover {
            background-color: #d6d6d6;
          }
        }
        [data-selected-option-acc-settings='true'] {
          background-color: $second-color;
          color: white;
          &:hover {
            background-color: $second-color;
          }
        }
      }
    }

    .form-account-settings {
      display: none;

      margin: 0 auto;
      width: min(95%, 40rem);

      &__title {
        color: $darker-gray;
      }
    }
    [data-show-form-account-settings='true'] {
      display: block;
    }
  }

  ////Media accountSettings END

  ////--------------------

  ////Media product page

  .product {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;

    .product-img-section {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: 40%;
      margin: 0;

      &__main-img {
        order: 1;
      }

      &__square-btns {
        margin: 0.5em 0;
        order: 0;

        [data-square-active='true'] {
          padding: 0.8em;
        }
      }
    }

    .product-choices-section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 55%;

      margin: 0 1em;

      .product-quantity-price-color {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 45%;

        .product-quantity {
          display: flex;
          flex-direction: column;
          align-items: center;
          border: 2px solid gray;
          width: 10rem;
          padding: 0.75em;

          .quantity-label {
            font-weight: 500;
          }

          .select-quantity {
            display: flex;
            justify-content: center;
            width: 20%;

            &-number {
              border: transparent;
              text-align: center;
              font-size: $fourth-font-size;
              font-weight: 500;
            }

            &__btn {
              &-icon {
                color: $first-color;
              }
            }
          }
        }
      }

      .button-expand-container {
        width: 100%;

        .product-size-options {
          display: flex;

          .button-product-size-options__btn {
            border: 2px solid $first-color;
            padding: 0.5em;
            margin: 0.25em;

            font-size: $fourth-font-size;
            font-weight: 600;

            transition: all 300ms;

            &:hover {
              background-color: $first-color;
              color: white;
            }
          }
          [data-selected-option-acc-settings='true'] {
            background-color: $second-color !important;
            color: white !important;
          }
        }
      }

      .product-decision {
        display: flex;
        justify-content: center;
        margin: 1em;

        &__btn {
          margin: 0 0.5em;
        }
      }

      .product-code-social-media {
        display: flex;
        justify-content: space-between;

        width: 100%;
        margin: 1em 0;

        .product-social-media {
          display: flex;

          .product-social-links-atag {
            .fa-brands {
              color: $first-color;
              margin: 0 0.35em;
            }
          }
        }

        .product-code {
          strong {
            color: $first-color;
          }
          font-weight: 500;
          font-family: $font-oswald;
        }
      }
    }
  }

  .product-details-section {
    width: 95%;
    margin: 0 auto;

    .button-expand2 {
      display: none;
    }

    &__h2 {
      display: block;
    }

    .product-details-section-div {
      position: static;
      opacity: 1;
      transform: scaleY(1);

      &__h3 {
        margin: 0.25em 0;
        margin-left: 0.5em;
      }

      &-list {
        &__item {
          margin: 0.25em 0;
          margin-left: 0.25em;
          list-style: disc;
        }
      }
    }
    [data-show-product-details-div='true'] {
      position: static;
    }
  }
  ////Media product page END
}

///Only devices with :hover
@media (hover: hover) {
  .transparent-btn:hover {
    border-color: $first-color;
    background-color: $second-color;
    color: white;
  }

  .black-btn:hover {
    background-color: $second-color;
    border-color: $first-color;

    color: white;
  }

  .nav-link {
    &::after {
      display: block;
      content: ('');

      padding: 0.05em 0;
      width: 100%;
      background-color: #fff;

      transform: scaleX(0);
      transition: all 200ms;
    }
    &:hover::after {
      transform: scaleX(1);
    }
  }
  .nav-link--profile:hover {
    background-color: $second-color;
  }

  .shop-section-filters-list__size:hover,
  .shop-section-filters-list__gender:hover {
    background-color: $first-color;
    color: white;
  }

  .clothes-card:hover {
    border: 2px solid $first-color;
  }

  .clothes-color-btn:hover {
    border-color: $first-color;
  }

  .arrow:hover {
    background-color: rgba($color: $first-color, $alpha: 0.8);
  }

  .square:hover:not([data-square-active='true']) {
    border-color: $first-color;
  }

  .footer-link:hover {
    text-decoration: underline;
  }
}
///Media only devices with :hover END

//Media Queries END
