//Variables
$font-roboto: 'Roboto', sans-serif;
$font-oswald: 'Oswald', sans-serif;

$first-font-size: clamp(2.1rem, 4vw, 6rem);
$second-font-size: clamp(1.8rem, 3vw, 4.5rem);
$third-font-size: clamp(1.3rem, 1.5vw, 3rem);
$fourth-font-size: clamp(1rem, 1.3vw, 2rem);

$first-color: #000000;
$second-color: #eb5757;

$error-color: #ffe3e3;
$notify-color: #63a5dc;
$notify-color2: #e6f1fa;
$success-color: #27ae60;

$light-gray: #828282;
$darker-gray: #3f3f3f;
//Variables END

//----------------------------------------------------------------

//Universal selector and tags
*,
*::before,
*::after {
  max-width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1 {
  font-family: $font-oswald;
  font-size: $first-font-size;
}
h2 {
  font-family: $font-oswald;
  font-size: $second-font-size;
}
h3 {
  font-family: $font-oswald;
  font-size: $third-font-size;
}
h4 {
  font-family: $font-oswald;
  font-size: $fourth-font-size;
  font-weight: 900;
}
p {
  font-family: $font-roboto;
  font-size: $fourth-font-size;
  color: $darker-gray;
}

li {
  font-family: $font-oswald;
}
a {
  font-family: $font-oswald;
  text-decoration: none;
  font-size: $third-font-size;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: transparent;

  cursor: pointer;
}

i {
  color: white;
  font-size: clamp(1.7rem, 1.6vw, 3rem);
}
//Universal selector and tags END

//----------------------------------------------------------------

//Very used components
.link-btn-component {
  display: inline-block;

  border: 0.15rem solid $first-color;
  padding: 0.5em 1em;

  font-size: $third-font-size;
  text-align: center;
  color: $first-color;
  font-weight: 600;

  transition: all 200ms;
}

.search-btn-desktop {
  display: none;
  align-items: center;

  .search__p {
    color: #fff;
    font-family: $font-oswald;
    font-size: $third-font-size;
  }
}

.shop-btn-desktop {
  display: none;

  .shop-btn-text {
    margin-left: 0.5em;

    & > * {
      color: #fff;
    }
    &__eur {
      font-weight: 600;
    }
  }
}
//Very used components END

//----------------------------------------------------------------

//Header
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $first-color;
  padding: 1em;

  .shop-btn-mobile {
    margin-left: 0.5em;
  }

  [data-nav-list-open='true'] {
    transform: scale(1) translateY(62%);
  }
  [data-nav-list-open='false'] {
    transform: scale(0) translateY(62%);
  }
  nav {
    position: absolute;
    left: 0;

    background-color: $first-color;
    padding: 1em;
    width: 100%;

    transition: all 100ms;

    .nav-list {
      text-align: center;
      list-style: none;

      .nav-item {
        margin: 0.5em 0;

        color: white;

        .nav-link {
          display: inline-block;
          color: white;
        }
      }
      .nav-item--search {
        display: none;
      }
      .login-sign-cont {
        margin-top: 1.5em;
      }
    }
  }
}
//Header END

//----------------------------------------------------------------

//SectionOne
.section1 {
  .flex-section1 {
    display: flex;
    flex-direction: column;

    /*&-content and &-images are inside this div*/
  }

  &-content {
    order: 2;

    text-align: center;

    &__h1 {
    }
    &__link {
    }
  }
  &-images {
    display: flex;
    justify-content: center;
    order: 1;

    .section1-img {
      width: min(50%, 25rem);
      &:nth-child(2) {
        margin-left: max(-27%, -8em);
      }
    }
  }

  &-change-background {
    display: flex;
    align-items: flex-end;

    padding: 0 10%;

    .arrow {
      padding: 0.8em;
      background-color: rgba($color: $first-color, $alpha: 0.6);
      transition: all 200ms;

      &-left {
        order: 1;
        .fa-arrow-left {
        }
      }
      &-right {
        order: 3;
        .fa-arrow-right {
        }
      }
    }

    &__squares {
      order: 2;

      width: fit-content;
      margin: 0 auto;

      .square {
        border: 0.15rem solid $light-gray;
        margin: 0 0.3em;
        padding: 0.8em;

        transition: all 200ms;
      }
      [data-square-active] {
        background-color: $first-color;
        border-color: $first-color;
        padding: 1em;
      }
    }
  }
}
.section1-background1 {
  background-image: url('./home/hero-img.png');
}
//SectionOne END

//----------------------------------------------------------------

// brandSection
.brand-section {
  margin: 1em;

  .flex-border-title {
    display: none;
    justify-content: space-between;
    align-items: flex-start;

    margin-top: 3em;

    .border-top-left {
      border-bottom: 0.15em solid $light-gray;
      width: 100%;
    }
    .border-top-right {
      border-bottom: 0.15em solid $light-gray;
      width: 100%;
    }
    .brand-section__title {
      width: 100%;

      text-align: center;

      transform: translateY(-50%);
    }
  }

  .grid-brands {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;

    padding: 1em;

    .brand-item {
      padding: 1em;
      border: 0.15em solid $light-gray;

      text-align: center;
      color: $first-color;

      transition: all 200ms;

      &:focus {
        border-color: $first-color;
      }

      .weight-three-hundred {
        font-weight: 300;
      }
      .weight-five-hundred {
        font-weight: 500;
      }
      .weight-six-hundred {
        font-weight: 600;
      }
      .weight-eight-hundred {
        font-weight: 800;
      }
      .brand-oswald {
        font-family: $font-oswald;
      }
      .brand-roboto {
        font-family: $font-roboto;
      }
      .brand-serif {
        font-family: serif;
      }
    }
  }
}
// brandSection END

//----------------------------------------------------------------

//SectionTwo
.section2 {
  margin: 0.5em auto;

  &-content {
    width: min(90%, 45rem);
    padding: 3em;

    .section2__para {
      margin: 0.5em 0;
    }
  }

  &-home1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-image: linear-gradient(90deg, #f2f0ef00, #edebeb 50%),
      url('./home/woman-home3.png');
    background-repeat: no-repeat;
    background-size: min(cover, 50%);
    background-position: 0% center;

    .section2-content {
      width: min(90%, 25rem);
    }
  }

  &-home2 {
    display: flex;
    align-items: center;

    background-image: linear-gradient(90deg, #dfddd3 50%, #d1cdc100),
      url('./home/woman-home5.png');
    background-repeat: no-repeat;
    background-size: min(cover, 50%);
    background-position: 100% 15%;
  }
  &-home3 {
    background-image: linear-gradient(90deg, #f4ded3 50%, #f5dfd400),
      url('./home/woman-home4.png');
    background-repeat: no-repeat;
    background-size: min(cover, 50%);
    background-position: 100% 15%;
  }

  &-home4 {
    background: linear-gradient(90deg, #dae8f0e5 50%, #cadeee1a),
      url('./home/woman-home6.png');

    background-repeat: no-repeat;
    background-size: min(cover, 50%);
    background-position: 100% center;
    margin: 1em;
  }

  &-home5 {
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(90deg, #dae8f09a 100%, #dae8f09a),
      url('./home/woman-home7.png');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 1em;

    text-align: center;
  }

  &-shop1 {
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(90deg, #dae8f09a 100%, #dae8f09a),
      url('./shop/woman-shop1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    text-align: center;
  }
}
//SectionTwo END

//----------------------------------------------------------------

//SectionThree
.section3 {
  background-color: $notify-color2;
  padding: 1em;

  &-item {
    display: flex;
    align-items: center;

    width: min(80%, 20rem);
    margin: 1em auto;

    &__icon {
      color: $first-color;
    }
    &__para {
      margin-left: 0.35em;
      color: $first-color;
      font-weight: 600;
    }
  }
}
//SectionThree END

//----------------------------------------------------------------

//Footer
[data-footer-list-expanded='false'] {
  position: absolute;

  transform: scaleY(0);
  transform-origin: 50% 0%;
}
[data-footer-list-expanded='true'] {
  position: relative;

  transform: scaleY(1);
  transform-origin: 50% 0%;
}
footer {
  background-color: $first-color;
  padding: 1em;

  color: #fff;

  p {
    color: $light-gray;
  }

  a {
    color: white;
  }

  .footer-section {
    &__btn {
      display: block;

      width: 100%;
      margin: 0.5em 0;
      border-bottom: 1px solid $light-gray;

      color: #fff;
      text-align: left;
      font-weight: 700;
      font-family: $font-oswald;
      font-size: $third-font-size;
    }
    &__title {
      display: none;
    }

    &__list {
      margin: 0.5em 0;

      transition: all 200ms;
      list-style: none;

      &-item {
        margin: 0.4em 0;
      }

      &-item--social {
        display: grid;
        grid-template-columns: 4em 4em;
      }
    }
  }

  .footer-copyright {
    margin: 0.5em 0;
  }
}
//Footer END

//----------------------------------------------------------------

//Media Queries
@media screen and (min-width: 1200px) {
  ////Media Very used components
  .shop-btn-mobile {
    display: none;
  }
  .shop-btn-desktop {
    display: flex;
  }

  .search-btn-mobile {
    display: none;
  }
  .search-btn-desktop {
    display: flex;
  }
  ////Media Very used components END

  ////--------------------

  ////Media Header
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $first-color;
    padding: 1em;

    .open-nav {
      display: none;
    }

    .shop-btn-mobile {
      margin-left: 0.5em;
    }

    [data-nav-list-open='true'] {
      transform: scale(1) translateY(0);
    }
    [data-nav-list-open='false'] {
      transform: scale(1) translateY(0);
    }
    nav {
      position: static;

      background-color: $first-color;
      padding: 1em;
      width: 70%;

      transition: all 200ms;

      .nav-list {
        display: flex;
        align-items: center;

        .nav-item {
          margin: 0.5em;
        }
        .login-sign-cont {
          display: flex;
          align-items: center;
          margin: 0;
          margin-left: auto;

          .shop-btn-desktop {
            margin-left: 0.5em;
          }
        }
      }
    }
    .search-shop-btns-cont {
      display: none;
    }
  }
  ////Media Header END

  ////--------------------

  ////Media SectionOne
  .section1 {
    .flex-section1 {
      display: flex;
      flex-direction: row;
      align-items: center;

      /*&-content and &-images are inside this div*/
    }

    &-content {
      order: 1;

      padding: 2em;

      text-align: left;

      &__h1 {
        border-top: 0.01em solid $first-color;
        border-right: 0.01em solid $first-color;
      }
    }
    &-images {
      display: flex;
      justify-content: center;
      order: 2;
    }

    &-change-background {
      display: flex;
      align-items: flex-end;

      padding: 0 2.5%;

      .arrow {
        &-left {
          order: 2;

          margin-left: auto;
          margin-right: 0.5em;
        }
        &-right {
          order: 3;
        }
      }

      &__squares {
        order: 1;

        margin: 0;
      }
    }
  }
  ////Media SectionOne END

  ////--------------------

  ////Media BrandSection
  .brand-section {
    margin: 1em;
    border-left: 0.15em solid $light-gray;
    border-right: 0.15em solid $light-gray;
    border-bottom: 0.15em solid $light-gray;

    .flex-border-title {
      display: flex;
    }

    .grid-brands {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .brand-item {
        padding: 1em;
        border-color: transparent;

        text-align: center;
        color: $first-color;
      }
    }
  }
  ////Media BrandSectionEND

  ////--------------------

  ////Media SectionTwo
  .grid-section2 {
    display: grid;
    margin: 1em;
    grid-gap: 1em;

    .section2 {
      margin: 0;
    }

    .grid-section2-item1 {
      grid-column: 1/1;
    }
    .grid-section2-item2 {
      grid-column: 2/2;
      grid-row: 1/3;
    }
    .grid-section2-item3 {
      grid-column: 1/1;
    }
  }

  .section2 {
    &-home4,
    &-shop1 {
      .section2__title {
        border-top: 0.01em solid $first-color;
        border-right: 0.01em solid $first-color;
      }
    }
  }
  ////Media SectionTwo END

  ////--------------------

  ////Media SectionThree
  .section3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    background-color: $notify-color2;
    padding: 2em;

    &-item {
      width: auto;
      margin: 0;
    }
  }
  ////Media SectionThree END

  ////--------------------

  ////Media Footer
  [data-footer-list-expanded='false'] {
    position: static;

    transform: scaleY(1);
  }
  footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 1em;

    padding: 2em;

    color: #fff;

    p {
      color: $light-gray;
    }

    a {
      color: white;
    }

    .footer-section {
      &__btn {
        display: none;
      }
      &__title {
        display: block;
      }

      &__list {
        margin: 0;

        &-item {
          margin: 0.25em 0;
        }

        &-item--social {
          display: grid;
          grid-template-columns: 3em 3em;
        }
      }
    }

    .footer-copyright {
      grid-column: 1/6;
      grid-row: 2/2;

      &--2 {
        grid-row: 3/3;
      }

      margin: 0;
    }
  }
  ////Media Footer END
}

///Media only devices with :hover
@media (hover: hover) {
  .link-btn-component:hover {
    border-color: $darker-gray;
    background-color: $darker-gray;
    color: white;
  }

  .nav-link {
    &::after {
      display: block;
      content: ('');

      padding: 0.05em 0;
      width: 100%;
      background-color: #fff;

      transform: scaleX(0);
      transition: all 200ms;
    }
    &:hover::after {
      transform: scaleX(1);
    }
  }

  .arrow:hover {
    background-color: rgba($color: $first-color, $alpha: 0.8);
  }

  .square:hover:not([data-square-active]) {
    border-color: $first-color;
  }

  .footer-link:hover {
    text-decoration: underline;
  }
}
///Media only devices with :hover END

///----------------------------------

///Media only devices without :hover
@media (hover: none) {
  .link-btn-component:focus {
    border-color: $darker-gray;
    background-color: $darker-gray;
    color: white;
  }

  .arrow:focus {
    background-color: rgba($color: $first-color, $alpha: 0.8);
  }
}
///Media only devices without :hover END

//Media Queries END
