$font-roboto: 'Roboto', sans-serif;
$font-oswald: 'Oswald', sans-serif;

$black-color: #000000;
$red-color: #eb5757;

$error-color: #ffe3e3;
$notify-color: #63a5dc;
$notify-color2: #e6f1fa;
$success-color: #27ae60;

$light-gray: #828282;
$darker-gray: #3f3f3f;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1 {
  font-family: $font-oswald;
}
li {
  font-family: $font-oswald;
}
a {
  font-family: $font-oswald;
}

button {
  background-color: transparent;
  border: transparent;

  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

i {
  color: white;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

.link-btn-component {
  display: inline-block;

  border: 0.15rem solid $black-color;
  padding: 0.5em 1em;

  font-size: clamp(1rem, 1.4vw, 4rem);
  color: $black-color;
  font-weight: 600;

  transition: all 150ms;

  &:hover {
    border-color: $darker-gray;
    background-color: $darker-gray;
    color: white;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $black-color;
  padding: 1em;

  .fa-shopping-bag {
    margin-left: 0.5em;
  }
}

[data-nav-list-open='true'] {
  transform: scale(1) translateY(63%);
}
[data-nav-list-open='false'] {
  transform: scale(0) translateY(63%);
}
nav {
  position: absolute;
  left: 0;

  background-color: $black-color;
  padding: 1em;
  width: 100%;

  transition: all 100ms;

  .nav-list {
    text-align: center;
    list-style: none;

    .nav-item {
      margin: 0.5em 0;

      color: white;

      .nav-link {
        color: white;
        font-family: $font-oswald;
      }
    }
    .nav-item--search {
      display: none;
    }
    .login-sign-cont {
      margin-top: 1.5em;
    }
  }
}

.section1 {
  .flex {
    display: flex;
    flex-direction: column;

    /*&-content and &-images are inside this div*/
  }

  &-content {
    order: 2;

    text-align: center;

    &__h1 {
    }
    &__link {
    }
  }
  &-images {
    display: flex;
    justify-content: center;
    order: 1;

    .section1-img {
      width: min(50%, 25rem);
      &:nth-child(2) {
        margin-left: max(-27%, -8em);
      }
    }
  }

  &-change-background {
    display: flex;
    align-items: flex-end;

    padding: 0 10%;

    .arrow {
      padding: 0.8em;
      background-color: rgba($color: $black-color, $alpha: 0.6);
      transition: all 150ms;
      &:hover {
        background-color: rgba($color: $black-color, $alpha: 0.8);
      }

      &-left {
        order: 1;
        .fa-arrow-left {
        }
      }
      &-right {
        order: 3;
        .fa-arrow-right {
        }
      }
    }

    &__squares {
      order: 2;

      width: fit-content;
      margin: 0 auto;

      .square {
        border: 0.1rem solid $black-color;
        padding: 1em;
      }
      [data-square-active] {
        background-color: $black-color;
      }
    }
  }
}
.section1-background1 {
  background-image: url('./assets/home/hero-img.png');
}
